
@{
    ViewData["Title"] = "Index";
}

<div class="table-responsive">
    <table id="recent-purchases-listing" class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Image</th>
                <th>operations</th>
                <a asp-area="Manage" asp-controller="Category" asp-action="Index"></a>
            </tr>
        </thead>
    </table>
</div>